
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h3>Página de Login</h3>
    @ViewBag.error
    <form method="post" action="@Url.Action("Login","Cuenta")">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>Usuario : </td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td>Password : </td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="LOGIN" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
